spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 10MB
  application:
    name: movie-ticket
  datasource:
    url: jdbc:postgresql://movie-ticket.crm2sq0ssrzj.ap-southeast-2.rds.amazonaws.com/movie
    username: postgres
    password: Anhtien123.
    driver-class-name: org.postgresql.Driver
    hikari:
      pool-name: Hikari
      auto-commit: false
    # Vô hiệu hóa tạm thời data SQL initialization
    # initialization-mode: always
    # data: classpath:data.sql
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true
        batch_versioned_data: true
    # defer-datasource-initialization: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: tien.ngo1@ntq-solution.com.vn
    password: yyxh vdkc kppf enku
    transport:
      protocol: smtp
    properties:
      mail:
        debug: true
        smtp:
          auth: true
          starttls:
            enable: true
  sql:
    init:
      mode: never # Thay đổi mode từ always thành never
logging:
  level:
    com:
      sun:
        mail: DEBUG
    org:
      springframework:
        mail: DEBUG
        security: TRACE
    org.springframework.security.web.FilterChainProxy: TRACE
    org.springframework.web.filter.CommonsRequestLoggingFilter: DEBUG

server:
  port: 8080

security:
  jwt:
    secret: Y2JkN2M4NjU3NTM4Y2ZiNDEyMjU5NjM1ZGVhMDIwOGFiMzZiYjY0MTJmMDVlZTY3ZTQyMzZjMTA4YWIxODk3YzI4MTkxNTkzZjFmYmQ5ZGM5MTA1NmVmZjAyODExZTQxMGRlMWI1M2U5MDEzNDY1ZDJhMmZiODhmMDI0MWYyNWQ=
    # Token is valid 24 hours (86400)
    token-validity-in-seconds: 2629743
    token-refresh-in-seconds: 2629743

resetPasswordBody: "Dear {0},\n\nYou have requested to reset your account password using the \"Forgot Password\" feature.\nWe confirm that the password has been successfully changed for the account: {1}.\nIf you did not make this request, please contact us immediately to ensure the security of your account.\n\nThank you for using our services."
resetPasswordSubject: "Password Change Notification"

cloudinary:
  cloud_name: dgpgct51a
  api_key: 699739212132192
  api_secret: 8GoUJ59v1jiRXtt6z2-R90vP2sc
  secure: true

sepay:
  merchant_id: MOVIE_TICKET_MERCHANT
  callback_url: https://alive-bee-adequately.ngrok-free.app/payment/sepay-webhook

